parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/config/aiimagegenerator.php
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\.*#'
        - '#Access to an undefined property Illuminate\\.*#'
        - '#Undefined variable: \$this#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
